body {
    background-image: url(/imagens/bg.jpg);
    background-repeat: round;
    background-size: cover;
    background-attachment: fixed;
}
.Painel{
    background-color: white;
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid white;
    opacity: 0.7;
}
.Vida{
    float: left;
}
.Conometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}