$max-width: 1920px;
$text-color: #FFF;
$background: linear-gradient(#0069E3, #042C59);

$spider-man-616-height: 360px;
$mulher-aranha-65-height: 300px;
$spider-man-1610-height: 324px;
$mulher-aranha-8311-height: 146;
$spider-man-90214-height: 376px;
$spider-man-928-height: 360px;
$sp-dr-14512-height: 324px;