header{
    width: 100%;
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    place-content: center;
}
.header__item{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
    gap: 1rem;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: white;
}
p{
    color: white;
}
.download{
    background-color: rgb(226, 226, 226);
}
.navegation{
    background-color: rgb(60, 60, 60);
    color: white;
}