@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(./header.css);
@import url(./media.css);
@import url(./primary.css);
@import url(./cards.css);
@import url(../css/packs.css);

:root{
    --bg-primary: #212B8A;
    --bg-segundary: #012BE7;
    --bg-tertiary: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(55,47,106,1) 100%);

    --card-color: #ffffff;
    --card-text: #000066;

    --titulo-color: #ffffff;
    --text-color: #ffffff;
    --link-color: #246eff;

    --button-bg-color: #012be7;
    --button-text-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
    font-style: none!important;
}
body{
    background: var(--bg-segundary);
    color: var(--text-color);
}
h1, h2, h3, h4, h5, h6 {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
img{
    max-width: 100%;
}
button, a {
    cursor: pointer;
}
.btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: 600;
    transition: all .5s ease-in-out;
}
.btn-active{
    background: var(--card-color);
    color:  var(--card-text);
}