@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700; 1.100.700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


@import './header.css';

:root{
    --fundo: rgb(193, 215, 239);
    --primary: #1920A3;
    --secundary: #3038E5;
    --tertiary: #535CE6;
    --card: #6F79E6;
    --border: #8A95E6;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background: var(--fundo);
}
h1, h2, h3, h4, h5, h6{
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}