.cards{
    height: 250px;
    width: 100%;
}
.cards .cards__animation{
    display: flex;
    flex-direction: row;
    place-content: center;
}
.cards .cards-card{
    position: absolute;
}
.cards-card img {
    width: 10rem;
}
.cards .cards-card:nth-child(5){
   margin: 0;
}
.cards .cards-card:nth-child(4){
   margin: -1rem 0 0 10rem;
}
.cards .cards-card:nth-child(3){
  margin: -1rem 0 0 -10rem;
}
.cards .cards-card:nth-child(2){
    margin: -2rem 0 0 20rem;
}
.cards .cards-card:nth-child(1){
    margin: -2rem 0 0 -20rem;
}

/* HOVER */
.cards-card:hover{
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.5s ease;
}

/* CARDS DEKTOP*/

.cards_desktop{
    height: 400px;
    display: flex;
    flex-direction: row;
    place-content: center;
    height: auto;
    width: 100%;
}
.cards_desktop .cards-card img {
    width: 20rem;
}
.cards_desktop .cards__animation{
    display: flex;
    flex-direction: row;
    place-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}