@media (width >= 768px) {
    .header__nav-desktop{
        display: inline-block;
    }
    .nav-mobile__collapse{
        display: none!important;
    }
    .header__nav-mobile{
        display: none;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, 30rem);
        grid-template-rows: 1fr 1fr;
        place-content: center;
        gap: 1rem;
    }

    /* CARDS */
    
}