.Fireflies2{
    box-shadow: 0 0 20px 10px green;
    background-color: green;
    animation: curva 10s alternate infinite;
}
@keyframes curva{
    0% { transform: translate(-10px, -50px);}
    100% { transform: translate(10px, -10px);}
}