.displayCard{
    position: absolute;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 400px;
    border-radius: 2rem;
    background-image: url(../imagem/card.png);
    background-size: contain;
    border: 20px solid rgba(173, 145, 4, 0.8);
    animation-name: brightness;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
button.btnCard{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-image: url(../imagem/pokebola.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 10px rgb(101, 101, 101);
    transition: all 1s;
}
.top img{
    max-height: 70% ;
    width: 80%;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 100%;    
}
.detailsPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    border-radius: 3rem 3rem 1rem 1rem;
    filter: brightness(1.3);
}
.detailsPokemon img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    border-radius: 3rem 3rem 1rem 1rem;
    z-index: -1;
}
.detailsNumber{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    color: white;
    text-shadow: 0 0 10px black;
}
.detailsName{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: .1em;
    color: white;
    text-shadow: 0 0 15px black;
    text-transform: uppercase;
}
.detailsType{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80%;
    font-size: 1.2em;
    color: rgb(59, 58, 58);
    border-radius: .7rem;
    font-weight: 900;
    text-transform: capitalize;
    filter: brightness(0.8);
}