body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    border: 1px solid grey;
}

thead td{
    background-color: black;
    color: white;
}

table tbody tr:nth-child(even) td {
    background-color: rgb(238, 238, 238);
}

table tbody tr:hover td {
    background-color: rgb(224, 222, 222);
    cursor: pointer;
}

.table tr td{
    width: 100px;
}

tfoot{
    background-color: lightgrey;
}