.limpar{
    grid-area: limpar;
    background: rgb(247, 81, 81)!important;
}
.divisao{
    grid-area: divisao;
    background: rgb(247, 81, 81)!important;
}
.multiplicacao{
    grid-area: multiplicacao;
    background: rgb(247, 81, 81)!important;
}
.soma{
    grid-area: somar;
    background: rgb(247, 81, 81)!important;
}
.subtracao{
    grid-area: subtracao;
    background: rgb(247, 81, 81)!important;
}
.total{
    grid-area: total;
    background: rgb(247, 81, 81)!important;
}
.ponto{
    grid-area: ponto;
}
.zero{
    grid-area: zero;
}
.primeiro{
    grid-area: primeiro;
}
.segundo{
    grid-area: segundo;
}
.terceiro{
    grid-area: terceiro;
}
.quarto{
    grid-area: quarto;
}
.quinto{
    grid-area: quinto;
}
.sexto{
    grid-area: sexto;
}
.setimo{
    grid-area: setimo;
}
.oitavo{
    grid-area: oitavo;
}
.nono{
    grid-area: nono;
}